[submodule "modules/promise"]
	path = modules/promise
	url = git://github.com/wakaba/perl-promise
	track = master
[submodule "modules/AnyEvent-SMTP"]
	path = modules/AnyEvent-SMTP
	url = https://github.com/Mons/AnyEvent-SMTP
	track = master
[submodule "modules/json-ps"]
	path = modules/json-ps
	url = https://github.com/wakaba/perl-json-ps
	track = master
[submodule "modules/Path-Tiny"]
	path = modules/Path-Tiny
	url = https://github.com/dagolden/Path-Tiny
	track = master
[submodule "modules/promised-file"]
	path = modules/promised-file
	url = https://github.com/wakaba/perl-promised-file
	track = master
